Source: minivtun-tools
Section: net
Priority: optional
Maintainer: Justin Liu <rssnsj@gmail.com>
Homepage: https://github.com/rssnsj/network-feeds/tree/linux-dist
Build-Depends: build-essential (>= 7), debhelper, libssl-dev

Package: minivtun-tools
Architecture: any
Depends: ipset-lists, iproute, iptables, ipset, dnsmasq-base
Description: Non-standard VPN that helps you to get through firewalls

